:root {
    --navBarColor: #37832e;
    --navBarHoverColor: #296323;
    --navLinkOnBlackColor: #398930;
}

@font-face {
    font-family: URWGothicSemiBold;
    src: url(urw_gothic_l_demi.ttf);
}

main {
    width: 40rem;
    max-width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}

.wide-container {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    /* height of footer + height of margin-top */
    margin-top: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.selected {
    color: rgb(255, 255, 255);
    background-color: var(--navBarColor);
}

.sr-only {  /* use this class to hide elements visually but still making them available to screen readers */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

p, ul {
    font-size: 1rem;
}

main a:hover {
    color: var(--navBarHoverColor);
}

main a.button {
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--navBarColor);
}

main a.button:hover {
    background-color: var(--navBarHoverColor);
    color: rgb(255, 255, 255);
}

main .button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

hr {
    border: 2px solid grey;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(225, 224, 224);
    font-family: URWGothicSemiBold;
    /*(205, 219, 203)*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid var(--navBarColor);
}

#navBar {
    background-color: rgb(0, 0, 0);
    top: 0;
    position: sticky;
    z-index: 1;
    white-space: nowrap;
}

nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
}

nav a:hover {
    background-color: var(--navBarHoverColor);
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

.small-h {
    font-size: 1.125rem;
}

header img {
    display: block;
    max-width: 30%;
    margin: auto;
    padding: 16px;
}

header {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    line-height: 0.4;
    border-top: 4px solid var(--navBarColor);
    white-space: nowrap;
}

footer a {
    text-decoration: none;
    color: var(--navLinkOnBlackColor);
}

footer a:hover {
    text-decoration: underline;
}

.contact-card {
    margin: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    background-color: white;
    display: flex;
    max-width: 90%;
    width: 25rem;
    text-align: left;
}

.contact-card h2 {
    text-align: left !important;
}

.contact-card p {
    padding: 0;
    margin: 0;
}

.contact-card img {
    position: relative;
    top: 12px;
    margin: 8px;
    height: 128px;
    border-radius: 4px;
}

.service-card {
    padding-bottom: 10px;
}

.service-card h1 {
    text-align: center;
}

.service-card-content {
    text-align: left;
}

.position {
    font-size: 1rem;
}

.hackathon-header-wrapper {
    position: relative;
    margin: 1.34em 0;
    /* Same as h1 (2 * 0.67em) */
    background: no-repeat url("hackathon-header.png");
    background-size: 100%;
    z-index: -1;
    /* Prevents it from appearing above navigation bar */
}

.hackathon-header-wrapper>img {
    width: 100%;
    visibility: hidden;
    vertical-align: top;
}

.hackathon-header-wrapper>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column-reverse;
    /* Places heading at bottom */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent 60%);
    color: white;
}


.wof-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.wall-card {
    border: 3px solid #37832e;
    border-radius: 4px;
    text-align: center;
    margin: 2em;
    padding: 2px;
}

.wall-card img {
    border-radius: 4px;
    max-width: 30em;
}