:root {
    --navBarColor: #3A8A31;
    --navBarHoverColor: #296323;
}

@font-face {
    font-family: URWGothicSemiBold;
    src: url(urw_gothic_l_demi.ttf);
}


.left-text {
    text-align: left;
}

.general-container {
    width: 700px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.wide-container {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    /* height of footer + height of margin-top */
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.selected {
    color: rgb(255, 255, 255);
    background-color: var(--navBarColor);
}

p {
    font-size: 16px;
}

hr {
    border: 2px solid grey;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(225, 224, 224);
    font-family: URWGothicSemiBold;
    /*(205, 219, 203)*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid var(--navBarColor);
}

#navBar {
    background-color: rgb(0, 0, 0);
    top: 0;
    position: sticky;
    z-index: 1;
}

nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: var(--navBarHoverColor);
}

h1 {
    font-size: 24px;
}

header img {
    display: block;
    max-width: 30%;
    margin: auto;
    padding: 16px;
}

header {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    line-height: 5px;
    border-top: 4px solid var(--navBarColor);
}

footer a {
    text-decoration: none;
    color: var(--navBarColor);
}

footer a:hover {
    text-decoration: underline;
}

.contact-mail {
    color: var(--navBarColor);
}

.contact-card {
    margin: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    background-color: white;
    display: flex;
    max-width: 90%;
    width: 400px;
    text-align: left;
}

.contact-card p {
    padding: 0px;
    margin: 0px;
}

.contact-card img {
    position: relative;
    top: 12px;
    margin: 8px;
    height: 128px;
    border-radius: 4px;
}

.service-card {
    padding-bottom: 10px;
}

.service-card h1 {
    text-align: center;
}

.service-card-content {
    text-align: left;
}

.position {
    font-size: 16px;
}

.hackathon-header-wrapper {
    position: relative;
    margin: 1.34em 0;
    /* Same as h1 (2 * 0.67em) */
    background: no-repeat url("hackathon-header.png");
    background-size: 100%;
    z-index: -1;
    /* Prevents it from appearing above navigation bar */
}

.hackathon-header-wrapper>img {
    width: 100%;
    visibility: hidden;
    vertical-align: top;
}

.hackathon-header-wrapper>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column-reverse;
    /* Places heading at bottom */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent 60%);
    color: white;
}

/* snowflakes: ta bort efter jul */
.snowflake {
    color: white;
    font-size: 1em;
    font-family: Arial;
    font-weight: normal;
    /* text-shadow: 0 0 1px #000; */
    z-index: 100;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}