:root {
    --navBarColor: #37832e;
    --navBarHoverColor: #296323;
    --navLinkOnBlackColor: #398930 ;
}

@font-face {
    font-family: URWGothicSemiBold;
    src: url(urw_gothic_l_demi.ttf);
}

.general-container {
    width: 700px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.wide-container {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    /* height of footer + height of margin-top */
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.selected {
    color: rgb(255, 255, 255);
    background-color: var(--navBarColor);
}

p, ul {
    text-align: left;
    font-size: 16px;
}

hr {
    border: 2px solid grey;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(225, 224, 224);
    font-family: URWGothicSemiBold;
    /*(205, 219, 203)*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid var(--navBarColor);
}

#navBar {
    background-color: rgb(0, 0, 0);
    top: 0;
    position: sticky;
    z-index: 1;
}

nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: var(--navBarHoverColor);
}

h1 {
    font-size: 24px;
}

header img {
    display: block;
    max-width: 30%;
    margin: auto;
    padding: 16px;
}

header {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    line-height: 5px;
    border-top: 4px solid var(--navBarColor);
}

footer a {
    text-decoration: none;
    color: var(--navLinkOnBlackColor);
}

footer a:hover {
    text-decoration: underline;
}

.contact-card {
    margin: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    background-color: white;
    display: flex;
    max-width: 90%;
    width: 400px;
    text-align: left;
}

.contact-card p {
    padding: 0px;
    margin: 0px;
}

.contact-card img {
    position: relative;
    top: 12px;
    margin: 8px;
    height: 128px;
    border-radius: 4px;
}

.service-card {
    padding-bottom: 10px;
}

.service-card h1 {
    text-align: center;
}

.service-card-content {
    text-align: left;
}

.position {
    font-size: 16px;
}

.hackathon-header-wrapper {
    position: relative;
    margin: 1.34em 0;
    /* Same as h1 (2 * 0.67em) */
    background: no-repeat url("hackathon-header.png");
    background-size: 100%;
    z-index: -1;
    /* Prevents it from appearing above navigation bar */
}

.hackathon-header-wrapper>img {
    width: 100%;
    visibility: hidden;
    vertical-align: top;
}

.hackathon-header-wrapper>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column-reverse;
    /* Places heading at bottom */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent 60%);
    color: white;
}
